<%= render 'shared/navbar' %>

<div class="front-page" style="background-image: url('<%= image_path 'noronha2.jpg' %>')" id="home">
  <div class="container banner">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 text-right">         
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 text-right ">
        <div class="front-page-content1 pb-5">
          <h1>Dados Meteoceanográficos</h1>
					<p>
      			<span id="banner-typed-text"></span>
    			</p>
        </div>
        <div class="front-page-content3">
          <a href="#tempo-real">
            <div class="orange-button">
              DADOS
            </div>
          </a>
          <a href="#projetos">
            <div class="white-button">
              SAIBA MAIS
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="projetos">
	<div class= "container text-justify" id="projetos">
		<h2>PROJETOS GLOSS-BRASIL e REMObs </h2>
		<div class="row align-items-center">
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">	
				<div class= "card-project text-align-center ">
					<%= image_tag "boia_noronha.jpg"%>
				</div>			
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">
				<h6>Os projetos <strong>GLOSS-BRASIL</strong> e <strong>REMObs</strong> 
				se uniram para elaborar um sistema completo 
				de monitoramento das condições de ondas, ventos e marés no Arquipélago
				de Fernando de Noronha. Para isso, montamos uma rede de coleta de dados
				ambientais por meio do uso de boias ondógrafo de fundeio e estações
				maregráficas. <strong>Aqui você poderá ter acesso aos dados 
				coletados em tempo real por nossos sistemas.</strong> </h6>
			</div>			
		</div>
		<div class="row align-items-center mt-2">
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">	
				<h6>Gerenciado pelo <strong>Centro de Hidrografia da Marinha (CHM)</strong>, o
				<strong>GLOSS-BRASIL</strong> tem um papel importante na determinação das
				variações no nível do mar para auxiliar as ciências ambientais e para
				melhorar o planejamento social e econômico.</h6>	
				<h6>O projeto <strong>REMObs (REMO Observacional)</strong>, uma parceria entre o <strong>Centro de Hidrografia da Marinha
				(CHM)</strong> e a <strong>PETROBRAS</strong>, contempla uma união de esforços para o desenvolvimento e consolidação de uma Boia Meteoceanográfica Nacional
				(BMO-BR). E para isso, também prevê o estabelecimento de uma rede de coleta de dados operacionais no Atlântico Sul, fator
				de grande importância para a calibração e validação de modelos de previsão meteoceanográfica.</h6>
				<h6><strong>Este projeto conta com o apoio dos nossos parceiros do
					<a href="https://www.icmbio.gov.br/portal/" target="_blank" style="decoration: none">ICMBio</a> e do 
					<a href="https://surfguru.com.br/" target="_blank" style="decoration: none">SURFGURU</a></strong>.</h6>.
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">
				<div class= "card-project text-align-center">
					<%= image_tag "maregrafo_noronha.png"%>
				</div>	
			</div>			
		</div>
	</div>
</div>
<div class="tempo-real">
	<div class="container" id= "tempo-real">  
		<h2 class="text-center mt-4">DADOS EM TEMPO REAL</h2>        
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 text-right"> 
				<div id="map"
							style="width: 100%; height: 400px;"
							data-markers="<%= [@almirantado_int, @almirantado_ext].to_json %>"
							data-almirantadoint="<%= @almirantado_int_data.to_json %>"
							data-almirantadoext="<%= @almirantado_ext_data.to_json %>"
							data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
							data-language="portuguese">
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12 text-right"> 
						<div class="card-product mt-1 box" id='almirantado_int'>
							<div class="card-product-infos w-100">		
								<h3 class='text-center'>BOIA</h3>
								<% if @almirantado_int_data == {} || @almirantado_int_data[:date_time] == [] %>
									<p  class='text-center'><strong>A SER INSTALADO</strong></p>
								<% else %>
									<p  class='text-center'><strong>ÚLTIMO DADO:</strong> <%= @almirantado_int_data[:date_time][0].strftime('%d/%m/%Y %H:%M')%></p>
									<div class="row">
										<div class="col-6 text-center">
											<% if @almirantado_int_data[:swvht][0] %>
												<p><strong>ALT. ONDAS:</strong> <%= @almirantado_int_data[:swvht][0].round(1)%> m</p>
												<p><strong>PER. ONDAS:</strong> <%= @almirantado_int_data[:tp][0].round(1)%> s</p>
												<p><strong>DIR. ONDAS:</strong> <%= @almirantado_int_data[:wvdir][0].round()%>°</p>
											<% elsif @almirantado_int_data[:swvht][1] %>
												<p><strong>ALT. ONDAS:</strong> <%= @almirantado_int_data[:swvht][1].round(1)%> m</p>
												<p><strong>PER. ONDAS:</strong> <%= @almirantado_int_data[:tp][1].round(1)%> s</p>
												<p><strong>DIR. ONDAS:</strong> <%= @almirantado_int_data[:wvdir][1].round()%>°</p>
											<% elsif @almirantado_int_data[:swvht][2] %>
												<p><strong>ALT. ONDAS:</strong> <%= @almirantado_int_data[:swvht][2].round(1)%> m</p>
												<p><strong>PER. ONDAS:</strong> <%= @almirantado_int_data[:tp][2].round(1)%> s</p>
												<p><strong>DIR. ONDAS:</strong> <%= @almirantado_int_data[:wvdir][2].round()%>°</p>
											<% else %>
												<p><strong>ALT. ONDAS:</strong> -- m</p>
												<p><strong>PER. ONDAS:</strong> -- s</p>
												<p><strong>DIR. ONDAS:</strong> -- °</p>
											<% end %>
										</div>
										<div class="col-6 text-center"> 								
											<% if @almirantado_int_data[:sst][0] %>
												<p><strong>TEMP. ÁGUA:</strong> <%= @almirantado_int_data[:sst][0].round()%> °C</p>
											<% elsif @almirantado_int_data[:sst][1] %>
												<p><strong>TEMP. ÁGUA:</strong> <%= @almirantado_int_data[:sst][1].round()%> °C</p>
											<% elsif @almirantado_int_data[:sst][2] %>
												<p><strong>TEMP. ÁGUA:</strong> <%= @almirantado_int_data[:sst][2].round()%> °C</p>
											<% else %>
												<p><strong>TEMP. ÁGUA:</strong> -- °C</p>
											<% end %>
											<% if @almirantado_int_data[:wspd][0] %>
												<p><strong>VEL. VENTO:</strong> <%= @almirantado_int_data[:wspd][0].round()%> m/s</p>
												<p><strong>DIR. VENTO:</strong> <%= @almirantado_int_data[:wdir][0].round()%> °</p>
											<% elsif @almirantado_int_data[:wspd][1] %>
												<p><strong>VEL. VENTO:</strong> <%= @almirantado_int_data[:wspd][1].round()%> m/s</p>
												<p><strong>DIR. VENTO:</strong> <%= @almirantado_int_data[:wdir][1].round()%> °</p>
											<% elsif @almirantado_int_data[:wspd][2] %>
												<p><strong>VEL. VENTO:</strong> <%= @almirantado_int_data[:wspd][2].round()%> m/s</p>
												<p><strong>DIR. VENTO:</strong> <%= @almirantado_int_data[:wdir][2].round()%> °</p>
											<% else %>
												<p><strong>VEL. VENTO:</strong> -- m/s</p>
												<p><strong>DIR. VENTO:</strong> -- °</p>
											<% end %>
										</div>
									</div>
								<% end %>												
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 text-right"> 
						<div class="card-product mt-1 box" id='almirantado_ext'>
							<div class="card-product-infos w-100">		
								<h3 class='text-center'>MARÉGRAFO</h3>
								<% if @almirantado_ext_data == {} || @almirantado_ext_data[:date_time] == [] %>
									<p  class='text-center'><strong>A SER INSTALADO</strong></p>
								<% else %>
									<p  class='text-center'><strong>ÚLTIMO DADO:</strong> <%= @almirantado_ext_data[:date_time][0].strftime('%d/%m/%Y %H:%M')%></p>
									<div class="row">
										<div class="col-12 text-center">
											<% if @almirantado_ext_data[:elev1][0] %>
												<p title="medição por radar"><strong>MARÉ MEDIDA RLS*:</strong> <%= @almirantado_ext_data[:elev1][0].round(0)%> cm</p>
												<p title="medição por boia e contra-peso"><strong>MARÉ MEDIDA SE200**:</strong> <%= @almirantado_ext_data[:elev2][0].round(0)%> cm</p>
											<% elsif @almirantado_ext_data[:elev1][1] %>
												<p title="medição por radar"><strong>MARÉ MEDIDA RLS*:</strong> <%= @almirantado_ext_data[:elev1][1].round(0)%> cm</p>
												<p title="medição por boia e contra-peso"><strong>MARÉ MEDIDA SE200**:</strong> <%= @almirantado_ext_data[:elev2][1].round(0)%> cm</p>
											<% elsif @almirantado_ext_data[:elev1][2] %>
												<p title="medição por radar"><strong>MARÉ MEDIDA RLS*:</strong> <%= @almirantado_ext_data[:elev1][2].round(0)%> cm</p>
												<p title="medição por boia e contra-peso"><strong>MARÉ MEDIDA SE200**:</strong> <%= @almirantado_ext_data[:elev2][0].round(0)%> cm</p>
											<% else %>
												<p title="medição por radar"><strong>MARÉ MEDIDA RLS*:</strong> -- cm</p>
												<p title="medição por boia e contra-peso"><strong>MARÉ MEDIDA SE200**:</strong> -- cm</p>
											<% end %>
											<p class="mb-1"><strong>MARÉ PREVISTA:</strong> <%= @tides[:elev][0].round(0)%> cm</p>
											<div class='observation-tide'>*radar / **boia e contra-peso</div>
										</div>
									</div>
								<% end %>												
							</div>
						</div>
					</div>
				</div>
				<div class="text-center mt-2">
					<h5 class='animate-pisc'><a href="https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/21-fernando_de_noronha.pdf" target="_blank" style="decoration: none">
						CLIQUE AQUI PARA ACESSAR A TÁBUA DE MARÉS PARA FERNANDO DE NORONHA
					</a></h5>
				</div>
			</div>			
		</div>
	</div>
</div>

<div class="image-strip text-center" id="fundo">
  <div class="container reveal">
    <div class="line"></div>
  </div>
</div>

<div class="graficos  mt-2">
	<div class="container" id="graficos">
		<%= form_tag root_path, method: :get, class: 'form-search mb-2' do %>
			<div>
				<p  class='m-0 p-0 letter-date'>Data Inicial:</p>
				<%= date_field_tag :start_date,
					params[:start_date],
					class: "form-control input-sm p-0",
					placeholder: "Data Inicial",
					value: @start_date.strftime("%Y-%m-%d")
				%>
			</div>
			<div>
				<p class='m-0 p-0  letter-date'>Data Final:</p>
				<%= date_field_tag :end_date,
					params[:end_date],
					class: "form-control input-sm p-0",
					placeholder: "Data Final",
					value: @end_date.strftime("%Y-%m-%d")
				%>
			</div>
			<div class='search w-100' style="writing-mode: vertical-rl">
				<%= submit_tag "FILTRAR", class: "orange-button-search p-2" %>
			</div>
		<% end %>
		<div id="plotdata"
			data-almirantadoint="<%= @almirantado_int_data.to_json %>"
			data-almirantadoext="<%= @almirantado_ext_data.to_json %>"
			data-tide="<%= @tides.to_json %>"
			data-language='portuguese'>
			<div id="tide-plot" class='graph'>
			</div>
			<div class="observation-tide">
				*radar / **boia e contra-peso.
			</div>
			<div class="observation-tide">
				***A maré prevista foi gerada a partir de dados observados
				em 1989, quando as características costeiras, morfológicas e oceanográficas da região
				eram diferentes das atuais. A maré prevista será atualizada com os novos dados
				coletados assim que for obtido o período mínimo de observação para realizar a previsão.
			</div>
			<%= form_tag download_path, method: :post, class: 'pt-2 w-100 form-horizontal row justify-content-around align-items-center vertical-align-center' do %>
				<%= text_field_tag :meas_tides, @csv_string, class: "inactive-tab"  %>
				<%= text_field_tag :start_date, @start_date.strftime("%Y-%m-%d"), class: "inactive-tab"  %>
				<%= text_field_tag :end_date, @end_date.strftime("%Y-%m-%d"), class: "inactive-tab"  %>
				<%= submit_tag("BAIXAR DADOS", title: 'Baixar Dados', class: "orange-button-search p-2") %>
			<% end %>
			<div id="wspd-plot" class='graph'>
			</div>
			<div id="wdir-plot" class='graph'>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div id="wdir-plot-almirantadoint" class='graph'>
					</div>
				</div>
			</div>
			<div id="swvht-plot" class='graph'>
			</div>
			<div id="wvdir-plot" class='graph'>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div id="wvdir-plot-almirantadoint" class='graph'>
					</div>
				</div>				
			</div>
			<div id="mxwvht-plot" class='graph'>
			</div>
			<div id="tp-plot" class='graph'>
			</div>
			<div id="sst-plot" class='graph'>
			</div>
		</div>
	</div>
</div>

<% if @popup %>
	<div class="full-screen flex-container-center" data-pop="<%= @popup %>" id='first-full-screen'>
<% else %>
	<div class="inactive-tab full-screen flex-container-center" data-pop="<%= @popup %>" id='first-full-screen'>
<% end %>
	<p><i class="fas fa-times-circle"></i></p>
	<div class='info-text mt-2 text-center'><strong>NORONHA.LIVE</strong></div>
	<h4 class='mt-2 text-center'><strong>Dados em tempo real para Fernando de Noronha:</strong></h4>
	<h6 class='mt-2 text-center'><strong>- Marés</strong></h4>
	<h6 class='mt-2 text-center'><strong>- Ondas</strong></h4>
	<h6 class='mt-2 text-center'><strong>- Ventos</strong></h4>
	<h6 class='mt-2 text-center'><strong>- Temperatura da água</strong></h4>
	<div class="row  justify-content-center ">
		<h7 class='m-3 text-center'><strong>Contato: chm.pnboia@marinha.mil.br</strong></h4>
	</div>
</div>